html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}


.center { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  background-color: #1b0163;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
  background-color: #ddddddad;
  color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #bbff00;
  color: white;
}