html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}


.center { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------- BELOW IS STYLING FOR THE NAVIGATION BAR CONTAINER -------------------*/

.navigation {
  background-color: #635c75;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Change the color of links on hover */
.navigation a:hover {
  background-color: #ddddddad;
  color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #bbff00;
  color: white;
}

/* ---------------------- BELOW IS STYLING FOR THE HOME STUFF CONTAINER -------------------*/
.home-stuff{
  text-align: center;
}

.home-stuff h1 {
  margin-bottom: 20px; 
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #635c75;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #635c75;
}

.home-stuff h2 {
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #9589b4;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #9589b4;
  font-size: 20x;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.home-stuff h3 {
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #b597ff;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #b597ff;
  font-size: 15x;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}



/* ---------------------- BELOW IS STYLING FOR THE SEAT DESCRIPTION CONTAINER -------------------*/
/* Style the h1 for the seat description container*/
.seat-description{
  text-align: center;
}
.seat-description h1 {
  margin-bottom: 20px; 
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #635c75;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #635c75;
}


.seat-description p {
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #9589b4;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #9589b4;
  font-size: 20x;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


/* ---------------------- BELOW IS STYLING FOR THE SEARCH SEAT CONTAINER -------------------*/
/* Style the search-seat container */
.search-seat {
  margin-bottom: 20px; 
  text-align: center;
}

.search-seat p {
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #9589b4;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #9589b4;
  font-size: 20x;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.search-seat select {
  width: 200px; 
  margin-right: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

/* Style the form inputs */
.search-seat input[type="text"] {
  width: 200px; 
  margin-right: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

/* Style the search button */
.search-seat button {
  padding: 5px 10px; 
  background-color: #007bff;
  color: #fff; 
  border: none; 
  border-radius: 3px;
  cursor: pointer; 
}

.search-seat button:hover {
  background-color: #0056b3; 
}

/* ---------------------- BELOW IS STYLING FOR THE BOOK SEAT CONTAINER -------------------*/
/* Style the Book-Seat container */
.Book-Seat {
  margin-bottom: 20px; 
  text-align: center;
}

.Book-Seat select {
  width: 200px; 
  margin-right: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

.Book-Seat input[type="text"] {
  width: 200px; 
  margin-right: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

/* Style the search button */
.Book-Seat button {
  padding: 5px 10px; 
  background-color: #007bff;
  color: #fff; 
  border: none; 
  border-radius: 3px;
  cursor: pointer; 
}

/* Style the search button on hover */
.Book-Seat button:hover {
  background-color: #0056b3; 
}

/* ---------------------- BELOW IS STYLING FOR THE SEAT LIST CONTAINER -------------------*/
/* Style the h2 for the seat-list container */
.seat-list{
  text-align: center;
}

.seat-list h2 {
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 3px solid #7e6180;
  border-radius: 1px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #7e6180;
}


.seat-list p{
  color:#000000;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid #000000;
  border-radius: 1px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #ffffff;
}


.table_container{
  overflow-y: auto; 
  max-height: 300px; 
}


/* Apply styles to the table */
table {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  border-collapse: collapse; 
  border: 1px solid #ddd;
  border-spacing: 0;
}

/* Style table headers */
th {
  background-color: #ffffff;
  padding: 8px; 
  border: 3px solid #ddd; 
}

/* Style table rows */
tr {
  border: 3px solid #ddd; /* Add a border around rows */
  background-color: #ffffffc7; 
}

/* Style table cells */
td {
  padding: 8px; /* Add padding inside cells */
  border: 1px solid #ddd; 
}

/* Style alternate rows differently */
tr:nth-child(even) {
  background-color: #ffdffcd8; 
}

/* Style when hovering over rows */
tr:hover {
  background-color: #f5f5f5; 
}


/* ---------------------- BELOW IS STYLING FOR THE LOGIN CONTAINER -------------------*/

.login-stuff{
  margin-bottom: 20px; 
  text-align: center;
}

.login-stuff h1 {
  margin-bottom: 20px;
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #635c75;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #635c75;
}

.login-stuff p {
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 3px solid #7e6180;
  border-radius: 1px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #7e6180;
}

.login-stuff .login-text {
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid #9589b4;
  border-radius: 1px;
  padding: 10px 1px;
  background-color: #9589b4;
  font-size: 20x;
  margin-bottom: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Style the form inputs */
.login-stuff input[type="text"] {
  width: 200px; 
  margin-right: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

/* Style the form inputs */
.login-stuff input[type="email"] {
  width: 200px; 
  margin-right: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

.login-stuff input[type="password"] {
  width: 200px; 
  margin-right: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
}

/* Style the search button */
.login-stuff button {
  padding: 5px 10px; 
  background-color: #007bff;
  color: #fff; 
  border: none; 
  border-radius: 3px;
  cursor: pointer; 
}

/* Style the search button on hover */
.login-stuff button:hover {
  background-color: #0056b3; 
}

/* ---------------------- BELOW IS STYLING FOR THE SIGNUP STUFF CONTAINER -------------------*/
.signup-stuff {
  margin-bottom: 20px; 
  text-align: center;
}

.signup-stuff p {
  color:#ffffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 5px solid #9589b4;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #9589b4;
  font-size: 20x;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


/* Style the links inside the navigation bar */
.signup-stuff a {
  border: 1px solid #ff0000;
  border-radius: 1px;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Change the color of links on hover */
.signup-stuff a:hover {
  color: rgb(255, 255, 255);
  border: 1px solid #6e0000;
  border-radius: 1px;
  padding: 10px 10px;
  background-color: #6e0000;
}

/* Add a color to the active/current link */
.signup-stuff a.active {
  background-color: #ff0000;
  color: white;
}